.home-page .splide {
  position: static !important;
}

.home-page .splide__slide {
  height: 486px;
  width: 372px;
}

.home-page .splide__slide.is-active {
  height: 582px;
  width: 404px;
}
.home-page .splide__slide.is-active footer {
  visibility: visible;
  opacity: 1;
}

.home-page .splide__arrows {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 100;
}

.home-page .splide__arrow--prev {
  display: none;
}

.home-page .splide__arrow.splide__arrow--next,
.home-page .splide__arrow.splide__arrow--prev {
  background: #fff;
  width: 48px;
  height: 48px;
  opacity: 1;
  transform: translateY(-50%);
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
}
.home-page .splide__arrow.splide__arrow--next img,
.home-page .splide__arrow.splide__arrow--prev img {
  width: 24px;
  height: 24px;
}
.home-page .splide__pagination {
  position: absolute;
  width: fit-content;
  left: 960px;
  bottom: 40px;
  display: flex !important;
  gap: 28px;
}

.home-page .splide__pagination__page.is-active {
  @apply bg-primary-500;
  position: relative;
}

.home-page .splide__pagination__page.is-active::after {
  border: 1px solid;
  @apply border-primary-500;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
